<div style="text-align: center; margin-top: 20px; margin-bottom: 20px" class="encabezado">
  <div class="contenedor-encabezado">
    <div class="iconos"></div>

    <div class="contenedor-logo" routerLink="/menu">
      <img src="assets/img/logo.png" alt="Logo" class="logopng" />
      <img src="assets/logosmenu/logotit.png" alt="Titulo" class="titulopng" />
      <img src="assets/logosmenu/tienda.jpg" class="logo-centro" />
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="container">
    <div style="text-align: center">
      <h1>Registro de Tiendas</h1>
    </div>
    <div style="text-align: center">
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="actualizacion">
          <mat-label> ID </mat-label>
          <br>
          <input matInput formControlName="codigo">
          <mat-error *ngIf="form.get('codigo')?.hasError('required')">
            El codigo es obligatorio!!
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label> Tienda </mat-label>
          <br>
          <input matInput placeholder="Ingresa nombre" formControlName="cajita">
          <mat-error *ngIf="form.get('cajita')?.hasError('required')">
            El nombre es obligatorio!!
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label> Ubicacion </mat-label>
          <br>
          <input matInput placeholder="Ingresa ubicacion" formControlName="ubicaciontienda">
          <mat-error *ngIf="form.get('ubicaciontienda')?.hasError('required')">
            La ubicacion es obligatoria!!
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label> Descripcion de la tienda </mat-label>
          <br>
          <input matInput placeholder="Ingresa descripcion" formControlName="descripciontienda">
          <mat-error *ngIf="form.get('descripciontienda')?.hasError('required')">
            La descripcion de la tienda es obligatoria!!
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label> Telefono </mat-label>
          <br>
          <input matInput placeholder="Ingresa numero de telefono" formControlName="telefonotienda">
          <mat-error *ngIf="form.get('telefonotienda')?.hasError('required')">
            El numero de telefono obligatorio!!
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label> Correo de tienda </mat-label>
          <br>
          <input matInput placeholder="Ingresa correo" formControlName="correotienda">
          <mat-error *ngIf="form.get('correotienda')?.hasError('required')">
            El correo de la tienda es obligatorio!!
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label> Latitud de la tienda </mat-label>
          <br>
          <input matInput placeholder="Ingresa latitud" formControlName="latitudtienda">
          <mat-error *ngIf="form.get('latitudtienda')?.hasError('required')">
            La latitud de la tienda es obligatoria!!
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label> Longitud de la tienda </mat-label>
          <br>
          <input matInput placeholder="Ingresa longitud" formControlName="longitudtienda">
          <mat-error *ngIf="form.get('longitudtienda')?.hasError('required')">
            La longitud de la tienda es obligatoria!!
          </mat-error>
        </mat-form-field>
        <br>

        <button matButton="filled">Registrar</button>
        <button matButton="filled" type="button" (click)="cancelar()">Cancelar</button>

      </form>
    </div>
  </div>
</div>