<div class="encabezado">
  <div class="saludo">
    <mat-icon>account_circle</mat-icon>
    <span>
      <button mat-raised-button color="primary" routerLink="/menu">
        Ir al menú principal
      </button></span>
  </div>
  <div class="logo-titulo" style="cursor: pointer;" routerLink="/">
    <img src="assets/img/logoahorra.jpg" class="logo" alt="Logo" />
    <span><strong>AHORRA</strong><span style="color: #007bff;">Comprando</span></span>
  </div>
</div>

<p>Explora nuestra aplicación</p>
