/*Boton silenciado*/
.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; 
  background-color: #1976d2; /* Color azul Material */
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.boton-flotante:hover {
  background-color: #1565c0;
}