<div style="text-align: center; margin-top: 20px; margin-bottom: 20px" class="encabezado">
  <div class="contenedor-encabezado">
    <div class="iconos"></div>

    <div class="contenedor-logo" routerLink="/menu">
      <img src="assets/img/logo.png" alt="Logo" class="logopng" />
      <img src="assets/logosmenu/logotit.png" alt="Titulo" class="titulopng" />
      <img src="assets/logosmenu/descuento.jpg" class="logo-centro" />
    </div>
  </div>
</div>


<div class="dashboard">
  <div class="container">
    <div style="text-align: center">
      <h1>Registro de Descuentos</h1>
    </div>

    <div style="text-align: center;">
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>ID Descuento</mat-label>
          <input matInput formControlName="codigo">
          <mat-error *ngIf="form.get('codigo')?.hasError('required')">
            El ID es obligatorio
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Porcentaje de Descuento</mat-label>
          <input matInput placeholder="Ej: 10" formControlName="porcentajeDescuento" type="number">
          <mat-error *ngIf="form.get('porcentajeDescuento')?.hasError('required')">
            El porcentaje es obligatorio
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Código del Descuento</mat-label>
          <input matInput placeholder="Ej: VERANO2025" formControlName="codigoDescuento">
          <mat-error *ngIf="form.get('codigoDescuento')?.hasError('required')">
            El código del descuento es obligatorio
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicioDescuento">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Fecha de Fin</mat-label>
          <input matInput [matDatepicker]="pickerFin" formControlName="fechaFinDescuento">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Producto</mat-label>
          <mat-select formControlName="producto">
            @for (prod of listaProductos; track prod) {
            <mat-option [value]="prod.idProducto">
              {{ prod.nombreProducto }}
            </mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('producto')?.hasError('required')">
            Debes seleccionar un producto
          </mat-error>
        </mat-form-field>
        <br />

        <button mat-raised-button color="primary" type="submit">Registrar</button>
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </form>
    </div>
  </div>
</div>