.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /* Para que quede arriba de todo */
  background-color: #1976d2; /* Color azul Material */
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.boton-flotante:hover {
  background-color: #1565c0;
}
.custom{
  background-color: #F1F9FF;
}

.espaciador-visual {
  height: 1.5px;
  background-color: #000000;
}

.custom-toolbar {
  background-color: #F1F9FF;
   padding-left: 6px;
}

.btn-color {
  
  background-color: #000000;
  border-radius: 5px;
  margin: 4px;
  border: none;
}

.custom-toolbar button,
.custom-toolbar mat-icon {
  color: white;
}
